@{
  Layout = "_Layout";
}
<h1>Wrenching ain't easy.</h1>
<br>
<p>@Html.ActionLink("See All Engineers", "Index", "Engineers", null, new {@class="btn btn-primary btn-sm"})</p>
<p>@Html.ActionLink("Add New Engineer", "Create", "Engineers", null, new {@class="btn btn-success btn-sm"})</p>